# Ensure text files use LF in the repository
*.dart text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.cc text eol=lf
*.h text eol=lf
*.cmake text eol=lf
*.swift text eol=lf
*.xml text eol=lf

# Binary files should not have line ending conversion
*.png binary
*.jpg binary